<script type="text/javascript">
    var recognition = new webkitSpeechRecognition();
    recognition.onresult = function(event) {
      if (event.results.length > 0) {
        yourtextareaid.value = event.results[0][0].transcript; //Don't forget, add your textarea id in this line.

      }
    }
  </script>


<form action="" method="post">
        <center><textarea id="yourtextareaid" placeholder="Click start button and speak." style="width:60%; height:15%;"></textarea></center>
        <p align="center"><input type="button" value="Start" onclick="recognition.start();"></p>